<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>nl.whatsringing.mobi</display-name>
	<context-param>
		<param-name>com.sun.faces.responseBufferSize</param-name>
		<param-value>500000</param-value>
	</context-param>
	<context-param>
		<param-name>facelets.DEVELOPMENT</param-name>
		<!-- set to false when going to production (not sure why) -->
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_LIBRARIES</param-name>
		<param-value>/WEB-INF/functions.xml</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_REFRESH_PERIOD</param-name>
		<!-- Set to -1 when going to production (this is about reloading facelets) -->
		<param-value>1</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.FACELETS_SKIP_COMMENTS</param-name>
		<param-value>true</param-value>
	</context-param>
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<!-- Set to Production when going to production (this is about how much 
			debug logs are shown) -->
		<param-value>Production</param-value>
	</context-param>
	<filter>
		<description>Send emails of errors to the development team</description>
		<display-name>ErrorLoggerFilter</display-name>
		<filter-name>ErrorLoggerFilter</filter-name>
		<filter-class>com.itude.mobile.web.jsf.util.ErrorLoggerFilter</filter-class>
	</filter>
	<filter>
		<description>Needed for translations to work</description>
		<filter-name>ThreadContextFilter</filter-name>
		<filter-class>com.itude.mobile.web.environment.ThreadContextFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CacheControlFilter</filter-name>
		<filter-class>com.itude.mobile.web.servlets.CacheControlFilter</filter-class>
	</filter>
	<filter>
		<description>Adds caching to content output files.</description>
		<filter-name>ReplyHeaderFilter</filter-name>
		<filter-class>com.itude.mobile.web.servlets.ReplyHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>public,max-age=31556926</param-value>
		</init-param>
		<init-param>
			<param-name>Pragma</param-name>
			<param-value>public</param-value>
		</init-param>
	</filter>
	<filter>
		<description>Adds caching to content output files.</description>
		<filter-name>ReplyHeaderFilterNoMaxAge</filter-name>
		<filter-class>com.itude.mobile.web.servlets.ReplyHeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>public</param-value>
		</init-param>
		<init-param>
			<param-name>Pragma</param-name>
			<param-value>public</param-value>
		</init-param>
	</filter>
	 <filter>
        <description>
            This filter class removes any whitespace from the response. It actually trims all
            leading and trailing spaces or tabs and newlines before writing to the response stream.
            This will greatly save the network bandwith, but this will make the source of the
            response more hard to read.
            
            I've tried this filter and it reduces the size of the html of the homepage from 15.7KB to 14.8KB.
            It's not that much, but it's worth the trouble.
        </description>
        <filter-name>whitespaceFilter</filter-name>
        <filter-class>com.itude.mobile.web.servlets.WhitespaceFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>whitespaceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
	<filter>
		<filter-name>UrlRewriteFilter</filter-name>
		<filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
		<init-param>
			<param-name>logLevel</param-name>
			<param-value>WARN</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>UrlRewriteFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ReplyHeaderFilterNoMaxAge</filter-name>
		<url-pattern>*.png</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ReplyHeaderFilter</filter-name>
		<url-pattern>*.js</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ReplyHeaderFilter</filter-name>
		<url-pattern>*.css</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ErrorLoggerFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>ThreadContextFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CacheControlFilter</filter-name>
		<servlet-name>Faces Servlet</servlet-name>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<listener>
		<listener-class>org.jboss.weld.environment.servlet.Listener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>Faces Servlet</servlet-name>
		<servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>File Servlet</servlet-name>
		<servlet-class>com.itude.mobile.web.servlets.FileServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>File Servlet</servlet-name>
		<url-pattern>/f</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<security-constraint>
		<display-name>Restrict XHTML Documents</display-name>
		<web-resource-collection>
			<web-resource-name>XHTML</web-resource-name>
			<url-pattern>*.xhtml</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<description>Templates not accessible to anyone outside</description>
		</auth-constraint>
	</security-constraint>
	<resource-env-ref>
		<description>Object factory for the CDI Bean Manager</description>
		<resource-env-ref-name>BeanManager</resource-env-ref-name>
		<resource-env-ref-type>javax.enterprise.inject.spi.BeanManager</resource-env-ref-type>
	</resource-env-ref>
	
	<session-config>
      <session-timeout>10</session-timeout> 
    </session-config>
</web-app>
	