<Configuration xmlns="http://itude.com/schemas/MB/2.0">
    <Model>
        <Domains>
            <Include name="com/itude/mobile/template/domains.xml"/>
        </Domains>
        <Documents>
            <Include name="com/itude/mobile/template/documents.xml"/>
        </Documents>
    </Model>
    <Controller>
        <Actions>
            <Include name="com/itude/mobile/template/actions.xml"/>
        </Actions>
        <Wiring>
            <Include name="com/itude/mobile/template/outcomes.xml"/>
        </Wiring>
    </Controller>
    <View>	
        <Dialogs>
            <Include name="com/itude/mobile/template/dialogs.xml"/>
        </Dialogs>
		<Include name="com/itude/mobile/template/pages.xml"/>
    </View>
</Configuration>
