<Configuration xmlns="http://itude.com/schemas/MB/1.0">
    <Model>
        <Domains>
        </Domains>
        
        <Documents>
        </Documents>
    </Model>
    
    <Controller>
        <Actions>
        </Actions>
        
        <Wiring>
            <Outcome origin="Controller" name="init" action="home" dialog="home-dialog"/>
            <Outcome origin="*" name="goto-other-page" action="other" dialog="home-dialog"/>
        </Wiring>
        
    </Controller>
    
    <View>
        <Dialogs>
            <Dialog name="home-dialog" mode="STACK" title="1"/>
        </Dialogs>
        
        <Page name="home" document="MBEmpty" />
        <Page name="other" document="MBEmpty" />
        
    </View>
</Configuration>

