/*
	Begin Template (can be deleted if not used)
*/
.nav {
	background-color: #afdce0;
}

.titleLeft {
	width: 40%;
	float: left;
	height: 40px;
}

.titleRight {
	height: 40px;
	background-image: url('../img/example.png');
	background-repeat: no-repeat;
	background-position: right;
}

.menuBar {
	text-align: center;
	background-color: #93003A;
	overflow: auto;
}

.menuBar a {
	display: inline-block;
	color: black;
	font-family: "Arial";
    font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.footer {
	text-align: center;
	font-size: 8pt;
}

.footer a {
	color: #000000;
	text-decoration: none;
}

/*
	HTML elements
*/
body {
	font-family: verdana, arial, helvetica;
	margin: 0;
	font-size: 10pt;
	background-color: #FFFFFF;
	color: #594c46;
	overflow-x: hidden;
}

input[type="submit"],input[type="button"] {
	border: 1px solid #000;
	background-color: #2466D2;
	color: white;
	font-weight: bold;
	width: 100%;
	height: 24px;
	margin-top: 0.5em;
}

th {
	font-weight: normal;
	text-align: left;
	height: 2em;
	line-height: 2em;
}

table {
	border-top: 1px dotted #DBDBDB;
	background-color: white;
	width: 100%;
	padding-left: 0.9em;
}

img {
	border-style: none;
}

/* Because IE7 and below doesn't support box-sizing: border-box; we add all inputs in this container.
   The padding should equal the total of borders and paddings */
.inputContainer {
	padding-right: 2px;
}

input[type="text"],input[type="password"],input[type="checkbox"],input[type="email"],input[type="number"],input[type="tel"],select
	{
	border: 1px solid #ABADB3;
	padding: 1px 0;
	margin-top: 0.75em;
	width: 100%;
	font-size: 11pt;
}

input[type="checkbox"] {
	width: 20px;
}

input[disabled] {
	background-color: #F0F0F0;
}

form {
	margin: 0;
}


/*
	MOBBL stuff, change as you like
*/
.ROWLINK{
	color: #4b8b9b;
	text-decoration: none;
}

.LIST {
	margin: 5px;
	padding: 5px;
	border-width: 3px;
	border-style: solid;
	border-color: #2466D2;
}

.ROW {
	padding: 0 1em;
	background-color: #FFF;
	display: block;
	height: 3.5em;
	line-height: 3.5em;
	border-bottom: 1px dotted #DBDBDB;
}

.ROWLINK-REF {
	float: right;
}

.ROWLINK-REF img {
	vertical-align: middle;
}

.ROWLINK-TITLE {
	float: left;
	clear: right;
	line-height: 1.75em;
	display: block;
}

.ROW-TITLE>span {
	text-decoration: none;
	color: #594c46;
	float: left;
	clear: both;
	line-height: 1.75em;
	display: block;
	white-space: nowrap;
}

.ROW-CONTENT {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #2466D2;
	font-family: "Arial";
    font-size: 13px;
	font-weight: bold;
	text-decoration: none;
}

.ROW-CONTENT .WL {
	float: right;
	margin-right: 2em;
}

.ROW-CONTENT .INF {
	width: 50%;
	float: right;
}

.ROW-CONTENT .COL-WRAPPER {
	clear: left;
	float: left;
	width: 100%;
	color: #594c46;
}

.COL0,.COL1 {
	line-height: 1.75em;
	float: left;
	width: 100%;
}

.COL2,.COL4,.COL41 {
	line-height: 1.75em;
	float: left;
	width: 50%;
}

.COL3,.COL31,.COL5,.COL51,.COL14,.COL141 {
	line-height: 1.75em;
	float: left;
	width: 33%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

.COL41 {
	text-align: right;
}

.BOLD {
	font-weight: bold;
}

.halfMore {
	height: 3.5em;
	padding-right: 1em;
	overflow: hidden;
}

.overflowAuto {
	overflow: hidden;
	white-space: nowrap;
}

.header {
	display: block;
	font-size: 18px;
	padding-bottom: 5px;
	font-weight: bold;
	color: #2466D2;
}

.header>.ROWLINK-REF {
	margin-right: 1em;
}

.TEXTBACKGROUND {
	background-color: #FFF;
	padding: 1em;
}

.hundredPercentWidth {
	width: 100%;
}
