<Configuration xmlns="http://itude.com/schemas/MB/2.0">
    <Model>
        <Domains>
            <Include name="config/domains.xml"/>
        </Domains>
        <Documents>
            <Include name="config/documents.xml"/>
        </Documents>
    </Model>
    <Controller>
        <Actions>
            <Include name="config/actions.xml"/>
        </Actions>
        <Wiring>
            <Include name="config/outcomes.xml"/>
        </Wiring>
    </Controller>
    <View>	
        <Dialogs>
            <Include name="config/dialogs.xml"/>
        </Dialogs>
		<Include name="config/pages.xml"/>
    </View>
</Configuration>
