<Configuration xmlns="http://itude.com/schemas/MB/2.0">
    <Include name="actions.xml"/>
    <Include name="domains.xml"/>
    <Include name="dialogs.xml"/>
    <Include name="documents.xml"/>
    <Include name="DOC-exception.xml"/>
    <Include name="outcomes.xml"/>
    <Include name="OUTCOME-exception.xml"/>
    <Include name="pages.xml"/>
</Configuration>